.countrySelector {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 300;
}

.select {
  margin-left: 2%;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

.select option {
  font-weight: 300;
  font-size: 0.8em;
}